.table {
    display: table;
    width: 100%;
    border-collapse: collapse;
}
.row {
    display: table-row;
}
.row.header {
    font-weight: bold;
    background-color: #f2f2f2;
}
.cell {
    display: table-cell;
    border: 1px solid black;
    padding: 5px;
    text-align: center;
}

@media screen and (max-width: 600px) {
    .table {
        display: block;
    }
    .row {
        display: block;
    }
    .cell {
        display: block;
    }            
}
