.exercise-button {
    width: 420px;
    height: 80px;
    text-align: center;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 18px;
    font-weight: 500;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: all 0.2s ease-in-out;
    outline: none;
    color: white;
    display: inline-block;
    background-color: #0353a4;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
}

.exercise-button:hover {
    background-color: #0353a4;
    color: white;
}

.exercise-button:active {
    background-color: #1985cc;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
}

.centered {
    transform: translate(-50%, -50%);
    width: 80%;
    height: 100%;
    max-width: 800px;
    max-height: 500px;
}